@{
    ViewData["Title"] = "Home Page | ";
}

@*HEROBANNER*@
<section class="container-fluid mx-0 px-0 text-white">
    <div class="herobanner p-5 text-center">
        <h1 class="display-5 fw-bold">Prepara lo zaino, gli amici li portiamo noi</h1>
        <span>Scopri il mondo viaggiando in piccoli gruppi</span>
        
        <div class="col-lg-6 py-2 mx-auto">
            <div class="relative px-1">
                <div  class="wr-travel-search-bar flex-grow text-gray-500 ">
                    <input class="js_search" type="text" placeholder="Cerca viaggi">
                </div>
            </div>
            
            <div class="container-results-search mt-1 rounded lg:rounded-xl text-gray-700"></div>
        </div>
    </div>
</section>

<section class="container">
    <div id="travels-list" class="text-center row d-flex flex-wrap justify-content-center">
        
        <section id="loading" class="py-5 d-flex justify-content-center">
            <div>
                <h2 class="loading-text">Caricamento in corso ...</h2>
            </div>
        </section>
       
        @*
        CARD TRAMITE API
        *@
       
    </div>
</section>


<script type="text/javascript">
  
    getTravelPackages("");
    document.querySelector(".js_search").addEventListener('keyup',searchTravelPackages);
    
    function searchTravelPackages(){
        let title = this.value;
        getTravelPackages(title);
    }
    
    function getTravelPackages(title){
       
        //axios.get('/api/TravelPackage/GetByTitle?title='+title).then( res => {
        axios.get('/api/TravelPackage/GetByTitle',{
            params:{
                title: title
            }
        }).then(res => {
            console.log('Chiamata OK', res);
            if (res.data.length == 0) {
                
                document.querySelector("#travels-list").innerHTML = '<h4 class="pt-4 text_alert"> Attualmente non abbiamo prodotti disponibili, oppure la tua ricerca non ho ottenuto risultati. <br/> Riprova più tardi!</h4>';
                
            } else {
                
               document.querySelector("#travels-list").innerHTML ='';
                res.data.forEach(travel => {
                    console.log('Viaggio: ', travel);
                    document.querySelector("#travels-list").innerHTML += 
                          `<div class="col-6 wr-banner h-auto relative text-white text-center d-flex flex-column justify-content-center align-items-center">

                                <div class="wr-image wr-banner-image background">
                                    <picture class="block">
                                        <img src="${travel.imgUrl}" alt="${travel.title}" width="600" height="400">
                                    </picture>
                                </div>
                    
                                <div class="wr-banner-text relative">
                                    <div class="container-text p-1 p-lg-2 z-20 position-relative">
                                        <h2 class="font-display block m-0">${travel.title}</h2>
                                        <div class="font-body max-w-400 text-lg mt-1 mx-auto">${travel.description}</div>
                                        <div class="font-body max-w-400 text-lg mt-1 mx-auto"><strong>Dal ${formatDate(travel.startDate)} al ${formatDate(travel.endDate)}</strong></div>
                                    </div>
                                    <h4 class="font-body max-w-400 text-lg mt-1 mx-auto price-text">${travel.price} €</h4>
                                    <div class="btn btn-banner mt-1 primary-outline">INFO</div>
                                    <a href="/Guest/Details/${travel.id}" class="cursor-pointer" aria-label="Marocco, Tanzania, Sudafrica"></a>
                                </div>
                    
                           </div>`;
                });
                
                /*let isLoading = false;           
                if(!isLoading){
                  document.querySelector("#loading").classList.add("d-none");
                }*/
            }
        }).catch(err => {
            console.log("error",err);
            document.querySelector("#travels-list").innerHTML = '';
            document.querySelector("#travels-list").innerHTML= "<div class'alert alert-danger'> "+ err.message+ "</div>"; 
        });    

    }
    
    
    function formatDate(dateString) {
      return new Date(dateString).toLocaleDateString();
    }
    
    
</script>