@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
  height: 100vh;
}

main {
  height: calc(100vh - 130px - 60px);
  overflow-y: auto;
}

.herobanner {
  background-image: url("https://img.freepik.com/premium-photo/tasty-pepperoni-pizza-black-concrete-background_79782-103.jpg?w=2000");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*
// BOTTONI CRUD
*/
.btn_custom {
  background-color: #ff4658;
  border-color: #ff4658;
  color: white;
}

.btn_custom:hover {
  color: #4F126F;
}

.btn_custom_info,
.btn_custom_edit,
.btn_custom_delete {
  margin: 2px;
}

.btn_custom_info {
  background-color: #00D7C7;
  border-color: #00D7C7;
  color: white;
}

.btn_custom_info:hover {
  background-color: whitesmoke;
  border-color: #00D7C7;
}

.btn_custom_edit {
  background-color: #FF9D22;
  border-color: #FF9D22;
  color: white;
}

.btn_custom_edit:hover {
  background-color: whitesmoke;
  border-color: #FF9D22;
}

.btn_custom_delete {
  background-color: #e3332f;
  border-color: #e3332f;
  color: white;
}

.btn_custom_delete:hover {
  background-color: whitesmoke;
  border-color: #e3332f;
}

.btn_custom_secondary {
  background-color: #4F126F;
  border-color: #4F126F;
  color: white;
}

.btn_custom_secondary:hover {
  color: #00D7C7;
}
