<div class="container mt-4">

        <div class="card w-100">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>Accesso Negato</h5>
            </div>

            <div class="card-body mx-1 d-flex flex-column flex-md-row row">
                <p>Effettua l'accesso oppure registrati.</p>
            </div>

        </div>
    </div>