@import '../Styles/general';
@import '../Styles/vars';
@import '../Styles/mixins';

.footer_personal {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  background-color: $background-color-footer;
  color: $text-color;
}