.herobanner{
  background-image: url("https://strapi-imaginary.weroad.it/resource/webp-medium/13058/viaggio-norvegia-aurora-boreale-capo-nord.webp");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

