@import '../Styles/general';
@import '../Styles/vars';
@import '../Styles/mixins';

main {
    overflow-y: auto;
}

.wr-banner {
    min-height: 300px;
    max-width: 550px;
    margin: 0;
    position: relative;
    overflow: hidden;
    outline: none !important;
    padding:  0;
    border: 1px solid #fff;
    
    .wr-banner-image{
        
        img{
            filter: blur(3px);
        }
        
        .background{
            min-height: 300px;
            display: block;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            position: absolute;
            content: "";
            background-color: rgba(10,10,15,.25);
        }
    }
   
}

.loading-text{
    color:$primary-color;
}

.wr-banner-text{
    top: 20%;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 10;
    overflow-y: auto;
    
    .price-text{
        color:$primary-color;
        position: absolute;
        bottom: 55px;
        right: 20px;
    }

    .btn-banner{
        position: absolute;
        bottom: 20px;
        right: 20px;
    }

    .btn.white-outline {
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        
        &:hover{
            background-color: white;
            border: 1px solid white;
            color: $primary-color;
        }
    }

    .btn.primary-outline {
        background-color: transparent;
        border: 1px solid $primary-color;
        color: $primary-color;

        &:hover{
            background-color: $primary-color;
            border: 1px solid $primary-color;
            color: white;
        }
    }
}


/*
// BOTTONI CRUD
*/

.btn_custom{
    background-color: $button-primary;
    border-color:$button-primary;
    color: white;
}

.btn_custom:hover{
    color: #4F126F;
}

.btn_custom_info,
.btn_custom_edit,
.btn_custom_delete{
    margin: 2px;
}

.btn_custom_info {
    background-color: #00D7C7;
    border-color: #00D7C7;
    color: white;
}

.btn_custom_info:hover{
    background-color: whitesmoke;
    border-color: #00D7C7;
}

.btn_custom_edit {
    background-color: #FF9D22;
    border-color: #FF9D22;
    color: white;
}

.btn_custom_edit:hover{
    background-color: whitesmoke;
    border-color: #FF9D22;
}

.btn_custom_delete{
    background-color: #e3332f;
    border-color: #e3332f;
    color: white;
}

.btn_custom_delete:hover{
    background-color: whitesmoke;
    border-color: #e3332f;
}

.btn_custom_secondary{
    background-color: #4F126F;
    border-color:#4F126F;
    color: white;
}

.btn_custom_secondary:hover{
    color: #00D7C7;
}