// VARS
$primary-color: #ff4658;
$secondary-color: lighten($primary-color, 10%);
$logo-primary-color: #ff4658;

// BACKGROUND
$background-color-main: #ffff;
$background-color-header: #1a1a1a;
$background-color-footer: #1a1a1a;


// FOOTER
$footer-menu-title-color: #fff;
$footer-menu-list-element-color: #ff4658;

// BUTTONS
$button-primary: #ff4658;
$button-secondary: #ffffff;

$button-tertiary: #678a90;

$title-primary-color: #e32929;
$title-secondary-color: #ffb80e;
$text-color: #efefef;
